:root{
  --dark-gray: #040404;
  --light-gray: #9c9c9c;
  --dark-blue: #3b5b86;
  --light-blue: #557ebb;
}

.wrap{
  position: relative;
  float: left;
  margin-bottom: 50px;
  &:before, &:after{
    display: table;
    clear: both;
  }
}

.container{
  position: absolute;
  left: 26px;
  right: 33px;
  top: 33px;
  bottom: 31px;
  padding: 43px;
  box-shadow: 0 10px 20px color(black a(10%)), 0 6px 6px color(black a(18%));
  text-align: center;
}

.logo {
  display: inline-block;
  background-image: url('https://static1.squarespace.com/static/55ef47d8e4b02a3fd69cc2b8/55fe1641e4b0ad2d25172461/55fe164fe4b08c4a7f922267/1442715217688/G+circle+logo.png');
  background-size: contain;
  width: 111px;
  height: 111px;
  line-height: 0;
  background-position: 2px -2px;
  margin-bottom: 16px;
}

.title{
  text-transform: uppercase;
  margin: 0;
  color: var(--light-gray);
  font-size: 23px;
  margin-bottom: 39px;
}

.input{
  display: none;
}

.label{
  display: inline-block;
  background: #ECECEC;
  border-radius: 2em;
  padding: 2px;
  transition: background .2s ease-in-out;
  width: 65px;
  height: 35px;
  cursor: pointer;
  &:before{
    content: ' ';
    display: block;
    height: 100%;
    width: 35px;
    background: white;
    border-radius: 50%;
    transition: transform .2s ease-in-out;
  }
  .input:checked ~ &{
    background: #49B083;
    &:before{
      transform: translate3d(30px, 0, 0);
    }
  }
}
